<a href="https://colab.research.google.com/github/markjereminpoblete/OOP-1-2/blob/main/OOP_Concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Classes and Objects

###Create a Class

In [1]:
class ClassName:
  pass

In [2]:
class OOP1_2:
  x=5 
  print(x)

5

###Create Objects

In [13]:
class OOP1_2:
  def __init__(self,name,age):
    self.name = name            #Attributes
    self.age = age

  def identity(self):
      print(self.name, self.age)

person=OOP1_2("MJ",18)    #Create objects

print(person.name)
print(person.age)
print(person.identity)

MJ
18
<bound method OOP1_2.identity of <__main__.OOP1_2 object at 0x7f9c61437190>>

In [14]:
#Modify Object Name

person.name = "Name"
print(person.name)
print(person.age)

Name
18

In [16]:
person.age = 20
print(person.name)
print(person.age)

Name
20

In [ ]:
#Delete Object

del person.name

In [19]:
print(person.name)

AttributeError: ignored

In [20]:
print(person.age)

20

####Application 1 - Write a Python program that computes the area of a square, and name its class as Sqaure, sides as attributes

In [43]:
class Square:
  def __init__(self,sides):
    self.sides = sides

  def area(self):
    return self.sides**2
  def display(self):
    print("The area of the sqaure is",self.area(),":))")

  
square=Square(12)
square.display()

The area of the sqaure is 144 :))

####Application 2 - Write a Python program that displays your full name, age, course, school. Create a class named MyClass and name, age, course, and school as attributes.

In [45]:
class MyClass:
  def __init__(self, name, age, course, school):
    self.name = name
    self.age = age
    self.course = course
    self.school = school
  def disp(self):
    print("My Name is",self.name)
    print("I am",self.age,"years old")
    print("My course is",self.course)
    print("I study in",self.school)
  
credentials=MyClass("Mark Jeremin C. Poblete",18,"Bachelor of Science in Computer Engineering", "Cavite State University - Main")
credentials.disp()

My Name is Mark Jeremin C. Poblete
I am 18 years old
My course is Bachelor of Science in Computer Engineering
I study in Cavite State University - Main